/**
 * Whole application layout styling
 */
#root,
.full-height {
  height: 100%;
}
.navbar-wrapper {
  height: 8%;
}
.map-container-wrapper > div,
.map-container-wrapper {
  height: 100%
}
.mission-planner {
  height: 70%;
}
#map-container {
  height: 100%;
  overflow: hidden;
}
.col-centered {
  margin: 0 auto;
  float: none;
}
.gm-style-iw {
  overflow: visible !important;
}
.gm-style-iw > div {
}
.Select-menu-outer {
  z-index: 10000000000 !important;
}
.m-b-10 {
  margin-bottom: 10px;
}
.full-width {
  width: 100%;
}

.mission-point-list {
  background-color: #fff;
  float: right;
  height: 100%;
  overflow: auto;
  width: 400px;
}

.mission-point-list .panel {
  margin-bottom: 2px;
}

.mission-point-list .panel-title > a {
  display: block;
  margin: -15px -10px;
  padding: 15px 10px;
}

.mission-point-list .panel-title > a:after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}